@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

*, *:before, *:after{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
    font-family: Lato, sans-serif;
}

input,
button{
    appearance: none;
    border: none;
    padding: 0;
}



.header-bar{
    height: 60px;
    box-shadow: 0 4px 4px -4px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.modal{
    display: none;
    position: fixed;
    z-index: 1; /*So modal sits on top*/
    left: 0;
    top: 0;
    width: 100%; /**full height and width**/
    height: 100%;
    background-color: rgb(7, 7, 7, 0.1);
}

.modal-form{
    position: relative;
    margin: 15% auto;
    height: 400px;
    width: 300px;
    background: white;
    border-radius: 10px;
    padding-top: 30px;
}

.modal-form > span{
    font-weight: bolder;
    position: absolute;
    right: 2px;
    top: 1px;
}

.modal-form > span:hover{
    cursor: pointer;
}

.modal-form fieldset legend{
    text-align: center;
    font-weight: bold;
}

.modal-form fieldset{
    border: none;
    display:grid;
    grid-template-rows: 5fr;
    gap: 15px;
}

.modal-form button{
    place-self: center;
}

.header-title{
    font-size: 2rem;
    text-align: center;
}

.main-content{
    display: grid;
    grid-template-rows: 200px 1fr;
}

.add-book-button{
   place-self: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.add-book-button button{
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(235, 233, 233);
}

.add-book-button button:hover{
    cursor: pointer;
    background-color: rgb(221, 219, 219);
}

.add-book-button button:active{
    box-shadow: inset 0px 0px 2px rgb(80, 79, 79);
}

.book-table{
    justify-self: center;
}

.book-table > table{
    letter-spacing: 1px;
}

td:not(:last-of-type), th{
    padding: 10px 50px;
}

td:nth-child(4){
    width: 200px;
}

.status-button{
   margin: auto;
}

table{
    border-collapse: collapse; /*So border appears on bottom of row*/
}

tr:not(:last-of-type){
    border-bottom: 1px solid rgb(20, 20, 20, 0.3);
}

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fadeOut{
    from { opacity: 1 }
    to { opacity: 0 }
}